*{
    margin: 0px;
    padding: 0px;
}

.Container {
    position: relative;
}

#byThree {

}



.main {
    width: 1000px;
    height: 1232px;
    border: solid 1px black;
    margin: auto;
    background-image: linear-gradient( #202424,#050505 )
}


.topBar {
    width: 999px;
    height: 35px;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
}

.topBartext {
    color: #fafafa;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 20pt;
}

.topBarSecText {
    color: #474747;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 20pt;  
    margin: auto;
}

.Box {
    position: absolute;
    width: 100px;
    height: 125px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
    top: 50px; 
    left: 300px;  
    z-index: 1;

}

.Box {
    position: absolute;
    width: 100px;
    height: 125px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
    top: 50px; 
    left: 300px;  
    z-index: 1;

}

.Box2 {
    position: absolute;
    width: 100px;
    height: 125px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
    top: 50px; 
    left: 405px;  
    z-index: 1;

}

.Box3 {
    position: absolute;
    width: 100px;
    height: 125px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
    top: 50px; 
    left: 510px;  
    z-index: 1;

}

.Box4 {
    position: absolute;
    width: 100px;
    height: 125px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
    top: 180px; 
    left: 90px;  
    z-index: 1;

}

.Box5 {
    position: absolute;
    width: 100px;
    height: 125px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
    top: 180px; 
    left: 195px;  
    z-index: 1;

}

.Box6 {
    position: absolute;
    width: 100px;
    height: 125px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
    top: 180px; 
    left: 300px;  
    z-index: 1;

}

.Box7 {
    position: absolute;
    width: 100px;
    height: 125px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
    top: 180px; 
    left: 510px;  
    z-index: 1;

}

.Box8 {
    position: absolute;
    width: 100px;
    height: 125px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
    top: 180px; 
    left: 615px;  
    z-index: 1;

}

.Box9 {
    position: absolute;
    width: 100px;
    height: 125px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
    top: 180px; 
    left: 719px;  
    z-index: 1;

}

.Box10 {
    position: absolute;
    width: 100px;
    height: 125px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
    top: 180px; 
    left: 825px;  
    z-index: 1;

}

.Box11 {
    position: absolute;
    width: 100px;
    height: 125px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
    top: 310px; 
    left: 90px;  
    z-index: 1;

}

.Box12 {
    position: absolute;
    width: 100px;
    height: 125px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
    top: 310px; 
    left: 300px;  
    z-index: 1;

}

.Box13 {
    position: absolute;
    width: 100px;
    height: 125px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
    top: 310px; 
    left: 405px;  
    z-index: 1;

}

.Box14 {
    position: absolute;
    width: 100px;
    height: 125px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
    top: 310px; 
    left: 510px;  
    z-index: 1;

}

.Box15 {
    position: absolute;
    width: 100px;
    height: 125px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
    top: 310px; 
    left: 719px;  
    z-index: 1;

}

.boxFont {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-top: 105px;
}

header a:link {
    color: red;
    text-decoration: none;
}

header a:hover {
    color: red;
    text-decoration: none;
    font-size: large;
}

header a:visited {
    color: rgb(241, 90, 90);
}

.midBar {
    width: 999px;
    height: 35px;
    background-image: linear-gradient(to bottom right, #f11142,#4e0303 );
    position: absolute; top: 490px;
    margin-bottom: 60px;
}

.midBoxHeader {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 15px;
}

.midBoxText {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 15px;
    margin-top: 15px;
}

.midBox {

        position: absolute;
        width: 280px;
        height: 265px;
        top: 580px; 
        left: 15px;  
        z-index: 1;
        opacity: 100%;
    
    }

.midBox2 {

        position: absolute;
        width: 175px;
        height: 180px;
        border: 3px solid black;
        background-image: linear-gradient(to bottom right, #202424,#050505 );
        top: 580px; 
        left: 350px;  
        z-index: 1;
        opacity: 100%;
        display: grid;
        place-items: center;
    
}

.midBox3 {

    position: absolute;
    width: 175px;
    height: 180px;
    border: 3px solid black;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
    top: 580px; 
    left: 560px;  
    z-index: 1;
    opacity: 100%;
    display: grid;
        place-items: center;

}

.midBox4 {

    position: absolute;
    width: 175px;
    height: 180px;
    border: 3px solid black;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
    top: 580px; 
    left: 770px;  
    z-index: 1;
    opacity: 80%;
    display: grid;
        place-items: center;

}

.midBox5 {

    position: absolute;
    width: 280px;
    height: 265px;
    top: 850px; 
    left: 15px;  
    z-index: 1;
    opacity: 100%;

}

.midBox6 {

    position: absolute;
    width: 175px;
    height: 180px;
    border: 3px solid black;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
    top: 850px; 
    left: 350px;  
    z-index: 1;
    opacity: 80%;
    display: grid;
        place-items: center;

}

.midBox7 {

    position: absolute;
    width: 175px;
    height: 180px;
    border: 3px solid black;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
    top: 850px; 
    left: 560px;  
    z-index: 1;
    opacity: 80%;
    display: grid;
        place-items: center;

}

.midBox8 {

    position: absolute;
    width: 175px;
    height: 180px;
    border: 3px solid black;
    background-image: linear-gradient(to bottom right, #202424,#050505 );
    top: 850px; 
    left: 770px;  
    z-index: 1;
    opacity: 80%;
    display: grid;
        place-items: center;

}

.btn {
        background: #5c6666;
        background-image: -webkit-linear-gradient(top, #5c6666, #050505);
        background-image: -moz-linear-gradient(top, #5c6666, #050505);
        background-image: -ms-linear-gradient(top, #5c6666, #050505);
        background-image: -o-linear-gradient(top, #5c6666, #050505);
        background-image: linear-gradient(to bottom, #5c6666, #050505);
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0px;
        text-shadow: 0px 1px 22px #ff3d4d;
        font-family: Arial;
        color: #f04343;
        font-size: 22px;
        padding: 8px 20px 10px 20px;
        border: solid #050505 2px;
        text-decoration: none;
        
    }
    
.btn:hover {
        background: #363636;
        background-image: -webkit-linear-gradient(top, #363636, #2e2e2e);
        background-image: -moz-linear-gradient(top, #363636, #2e2e2e);
        background-image: -ms-linear-gradient(top, #363636, #2e2e2e);
        background-image: -o-linear-gradient(top, #363636, #2e2e2e);
        background-image: linear-gradient(to bottom, #363636, #2e2e2e);
        text-decoration: none;
    }

.botBar {
    width: 999px;
    height: 35px;
    background-image: linear-gradient(to bottom right, #f11142,#4e0303 );
    position: absolute; top: 1200px;
    margin-bottom: 60px;
}

.footerMessage {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
    margin-top: 18px;
}
