body {
    background-color: gray;
}

.bodyBox {
    width: 1000px;
    align-content: center;
    box-sizing: border-box;
    background-color: white;
    border:  1px solid black;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.headingStyle {
    font: arial, helvetica, sans-serif;
    font-style: italic;
    font-size: 35px;
    color: rgba(13, 66, 241, 0.884);
}
.textMain {
    font-family: 'Open Sans', sans-serif;

}


.techStyles {
    font-weight: bold;
}
.nameStyle {
    text-decoration: underline;
    font-style: italic
}

body {
    text-align: center;
    }
    .tooltip_div {
        position: relative;
        display: inline-block;
    }
    .tooltip_div .tooltip{
        /* Describes the appearence of the tooltip */
        visibility: hidden;
        width: 150px;
        background-color: purple;
        color: white;
        text-align: center;
        border-radius: 0px;
        padding: 5px 0;
        font-size: medium;

        /* positioning the tooltip */
        position: absolute;
        z-index: 1;
        top: -5px;
        right: 110%;
    }
    .tooltip_div:hover .tooltip {
        visibility: visible;
    }